body{
  margin:0;
  font-family: 'Times New Roman', Times, serif;
  transition: : background 0.3s, color 0.3s;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.light{
  background: #ffffff;
  color: #000000;
}
body.dark{
  background: #1e1e1e;
  color:#ffffff;
}
button{
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}